/*  */

body{
    background-color:aqua;
    /*pink or hot pink to accent*/
    width: 1000px;
    margin-left: auto ;
    margin-right: auto ;
    font-family: Belleza;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
    float: left;
}
.storefront{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
    float: left;
}


#header-name {
    
    font-size: 60px;
    color: #ff00d2;
    padding: 15px;
    margin: 20px 0px 20px 0px;
    
}
#search{
    
    float: right;
    padding: 5px;
    margin: 10px 10px 10px 10px;
  
}
#main-image {
    float: left;
    width: 700px;
    height: 250px;
}

#second-image {
    float: right;
    width: 300px;
    height: 250px;
}

.welcome{
    width: 700px;
    float: left;
    margin: 20px 0px 20px 0px;
}

#recent-news{
    float: right;
    width: 300px;
    margin: 20px 0px 20px 0px;
}
#recent-news > header{
    margin-left: 5px;
    color: green;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}

#recent-news > ul {
    list-style: none;
}
    #recent-news > ul > li {
        margin: 0px 0px 3px 0px;
}

#main {
    height: 100%;
    width: 700px;
    float: left;
    margin: 0px 0px 3px 0px;
}

#dount-header{
    color: green;
    font-size:15px;
    margin: 0px 0px 3px 0px;
    height: 25px;

}
   .products{
       width: 25%;
       float: left;
       margin: 0PX 0PX 20PX 0PX;
   }

   .product-article{
       height: 150px;
       width: 200px;
       border-width: 2px;
       border-style: solid;
       border-color: green;
       margin: 3px 3px 3px 3px;
       padding: 3px 3px 3px 3px;
       border-radius: 5px;
   }
   .product-thumbnail{
       width: 35px;
       height: 35px;
   }


#footer{
    width: 100%;
    background-color: white;
    margin: 20px 0px 20px 0px;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
    font-size: 12px;
}