/*  */

body {
    background-color: #0d8c80;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Belleza;
}
.logo {
    width: 90px;
    height: 90px;
    border-radius: 25px;
    margin-right: 10px;
    float: left;
}
.storefront{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
    float: left;
}
#header-name {    
    font-size: 60px;
    color: gold;
    padding: 15px;
    margin: 20px 0px 20px 30px;
}
#search{
    
    float: right;
    padding: 5px;
    margin: 10px 10px 10px 10px;
  
}
#links {    
    width: 100%;
    margin: 20px 0px 20px px;
}
    #links-header {       
        color: gold;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 0px;
}
#links > ul {
    list-style: none;
}
#main {
    height: 100%;
    width: 700px;
    margin: 0px 0px 3px 0px;
    float: right;
}
#bike-header{
    color: gold;
    font-size:15px;
    margin: 0px 0px 3px 0px;
    height: 25px;
    float: right;
}
#header-title {
    background-color: gold;
    border-radius: 5px;
    float: right;
}
   .products{
       width: 50%;
       float: right;
       margin: 0PX 0PX 20PX 0PX;
   }
.product-name{
    float: right;
}
.product-thumbnail {
    width: 70px;
    height: 55px;
    float: right;
}
.related {
    width: 100%;
   
}
#pics {
    width: 350px;
    height: 450px;
    border-radius: 5px;    
}
#footer {
    width: 100%;
    background-color: #d4cdcd;
    margin: 20px 0px 20px 0px;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
    font-size: 12px;
    float: right;
}